*{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 15% 85%;
    grid-template-rows: 95px auto;
    grid-template-areas: 
    "header header header"
    "nav containt footer"
    "nav containt footer";
    font-size: 20px;
    text-align: center;
    text-align: center;
}

header{
    grid-area: header;
    display: flex;
	height: 95px;
	width: 100%;
	min-width: 600px;
	background-color: rgb(77, 75, 75);
	position: relative;
}

#ism{
	padding: 15px;
	height: 60px;
	border: 0px white solid;
	position: relative;
}

#ism:hover{
    background-image: linear-gradient(orange,white,green);
    height: 65px;
    padding: 30x;
}

#git{
	padding: 7px 10px;
	height: 82px;
	border-radius: 55px;
}

#git:hover{
	background-color: white;
	border-radius: 0;
}

h2{
	font-size: 60px;
	margin: 15px auto;
	background-image: linear-gradient(to right, #00dbde,#fc00ff);
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav{
    background: gray;
    grid-area: nav;
}

nav div{
    font-size: 35px;
    margin: 25px auto;
}

nav div a{
    text-decoration: none;
    color: black;
}

nav div a:hover{
    font-size: 45px;
    margin: 30px auto;
    background-image: linear-gradient(to right, yellow ,red);
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav div#highlight{
	background: black;
	border-radius: 55px;
}

nav div#highlight a{
    font-size: 45px;
    margin: 30px auto;
    background-image: linear-gradient(to right, yellow ,red);
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.containt::before{
	content: "";
	position:absolute;
	top: 25%;
	left: 20%;
	background-image: url(../img/icon.png);
	background-size: 420px;
	background-position: center;
	background-repeat: no-repeat;
	width: 70%;
	height: 70%;
	opacity: 0.3;
	z-index: -1;
}

.containt{
    grid-area: containt;
    z-index: 2;
    padding: 5%;
	height: 75%;
	width: 90%;
}

.containt div a{
	z-index: 1;
	text-decoration: none;
	font-size: 45px;
	float: left;
	padding: 15px;
	margin: 25px auto 0px;
	color: black;
}

.containt div#as a:hover{
	background-image: linear-gradient(to right, #00dbde,#fc00ff);
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.containt div#download a{
	font-size: 60px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containt div#download a:hover{
	background-color: DodgerBlue;
	color: white;
	text-decoration: none;
	border-radius:50px;
}


body:hover{
	background-color: rgb(228, 222, 222);
}

footer{
    grid-area: footer;
}

#indian{
	writing-mode: vertical-lr;
	font-family: cursive;
	font-size: 20px;
	color: gray;
	opacity: 0.59;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 15px;
}